<br>
<br>
<br>
<div class = "merchant_title">
  
<p href>MERCHANTS</p><br>
<br>
<a href="/merchants/new">Add new merchant</a>
</div>
<% @merchants.each do |merchant| %>
<div class = "merchant_name">
<p>
<%= merchant.name %> 
</p>
</div>
  <br>
<% end %>
<a href="/merchants/new">Add new merchant</a>
<a href="/merchants/new">Add new merchant</a>
<br>



