<!DOCTYPE html>
<html>
<head>
  <title>Project 1</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class= "nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/transactions">Transaction</a></li>
      <li><a href="/merchants">Merchants</a></li>
      <li><a href="/tags">Tags</a></li>
      <li><a href="/account">Account</a></li>
    </ul>
  </div>
  <%= yield %>
</body>
</html>
